on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b #v5.3.0
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pipx install poetry==1.8.0
          poetry install
      - name: ruff
        run: poetry run ruff check --output-format=github .
      - name: ruff
        run: poetry run ruff format --check .
      - name: mypy
        run: poetry run mypy .
